@mixin d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin sevda {
  background-repeat: no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
 margin-right: 9px;
}
