.pervechniy__box{
  margin: 0 auto;
  display: flex;
  margin-top: 15px;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 42px 105px 42px 35px ;
  max-width: 1245px;
}
.pervechniy{
  margin-bottom: 160px;
}
.perv__img1{
  max-width: 524px;
  border-radius: 8px;
}
.pervechniy__content{
  margin-left: 67px;
}

.pervechniy__link::before{
  content: "";
  background-image: url(../../img/money\ 1.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  align-items: center;
}
.pervechniy__link{
  align-items: center;
  font-weight: 500;
  padding: 15px 35px;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
display: inline-block;
background-color: #FFBD54;
border-radius: 3px
}
.pervechniy__link:nth-child(2){
  align-items: center;
  font-weight: 500;
  padding: 15px 35px;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
display: inline-block;
margin-left: 21px;
background-color: #333333;
border-radius: 3px
}
.pervechniy__link:hover{
  background-color: aquamarine;
  animation-name: link;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  }
 .pervechniy__link:nth-child(2):hover{
    background-color: aquamarine;
    animation-name: link;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    }
  .sp1{
    color: #78C0DE;
  }
  @keyframes link {
    0%{
      transform: rotate3d(360deg);
    }
    20%{
      transform: rotateY(180deg);
      background-color: chartreuse;
      border-radius: 40%;
    }
    40%{
      background-color: cornflowerblue;
      border-radius: 20%;
    }
    60%{
      background-color: darkgoldenrod;
      border-radius: 50%;
    }
    80%{
      background-color: burlywood;
      border-radius: 80%;
    }
    50%{
      transform: rotateZ(360deg);
    }
    100%{
      transform: rotateY(0deg);
      border-radius: 12px;
    }
  }
.pervechniy__link:nth-child(2)::before{
  content: "";
  background-image: url(../../img/document\ 1.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  align-items: center;
}
.pervechniy__title{
  font-weight: 500;
font-size: 36px;
line-height: 20px;
/* or 56% */

display: flex;
align-items: center;

color: #333333;
margin-bottom: 18px;
}
.pervechniy__text{
  font-weight: 400;
font-size: 16px;
line-height: 20px;
/* or 125% */

max-width: 492px;
color: #949494;

}
.pervechniy__text + .pervechniy__text{
  margin-top: 10px;
}
.pervechniy__link{
  margin-top: 35px;
}
@media only screen and(max-width:1245px) {
  .pervechniy__box{
  flex-direction: column;
  }
  .pervechniy__img{
    text-align: center;
    margin: 0 auto;
  }
  .pervechniy__content{
    margin-top: 40px;
  }
}
@media only screen and(max-width:730px) {
  .pervechniy__box{
    margin-top: 50px;
  }
  .pervechniy__link-box{
    display: flex;
    flex-direction: column;
    display: inline-block;
  }
  .pervechniy__link + .pervechniy__link{
    margin-left: 0;
  }
  .perv__img1{
    margin: 0 auto;
    flex-shrink: 0;
    max-width: 450px;
    margin-left: 40px;
  }
  .pervechniy__title{
    font-weight: 500;
font-size: 26px;
line-height: 17px;
  }
  .pervechniy__text{
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
  }
  .pervechniy__link{
    font-weight: 500;
    padding: 15px 35px;
  font-size: 13px;
  line-height: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  }
  .pervechniy__link:nth-child(2){
    font-weight: 500;
    padding: 15px 35px;
  font-size: 13px;
  line-height: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  }
}
@media only screen and(max-width:480px) {
   

  .pervechniy__title{
    font-weight: 400;
font-size: 20px;
line-height: 14px;
  }
  .pervechniy__link{
    padding: 8px 20px;
  }
  .pervechniy__link:nth-child(2){
    padding: 8px 20px;
    text-align: center;
  }
  .pervechniy__text{
    font-weight: 300;
    font-size: 9px;
    line-height: 13px;
  }
}